# ASSIGNMENT NO 16 - SOLUTION

### Q.1 Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

**ANS** =

In [5]:
birth_year = 1997
years_list = [i for i in range(birth_year, birth_year+6)]
print(years_list)

[1997, 1998, 1999, 2000, 2001, 2002]

### Q.2 In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

**ANS** =

In [6]:
print(years_list[3])

2000

### Q.3 In the years list, which year were you the oldest?

**ANS** =

In [8]:
print(years_list[-1])

2002

### Q.4 Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

**ANS** =

In [11]:
things = [ele+'ella' for ele in ['mozzar', 'cinder', 'salmon']]
print(things)

['mozzarella', 'cinderella', 'salmonella']

### Q.5 Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

**ANS** =

In [19]:
for ele in range(len(things)):
    if things[ele] == "cinderella":
        things[ele] = things[ele].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

### Q.6 Make a surprise list with the elements "Groucho", "Chico", and "Harpo".

**ANS** =

In [20]:
surprise_list = ["Groucho", "Chico", "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

### Q.7 Lowercase the last element of the surprise list, reverse it, and then capitalize it.

**ANS** =

In [23]:
print(surprise_list[-1].lower()[::-1].capitalize())

Oprah

### Q.8 Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

**ANS** =

In [46]:
e2f = {"dog" : "chien", "cat" : "chat", "walrus":"morse"}
print(f"e2f dictionary is {e2f}")

e2f dictionary is {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### Q.9 Write the French word for walrus in your three-word dictionary e2f.

**ANS** =

In [43]:
print(f"French word of English word walrus is {e2f['walrus']}")

French word of ENglish word walrus is morse

### Q.10 Make a French-to-English dictionary called f2e from e2f. Use the items method.

**ANS** =

In [33]:
f2e = {}
for key, value in e2f.items():
    f2e[value] = key
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### Q.11 Print the English version of the French word chien using f2e.

**ANS** =

In [42]:
print(f"English word of French word chien is {f2e['chien']}.")

English word of French word chien is dog.

### Q.12 Make and print a set of English words from the keys in e2f.

**ANS** =

In [44]:
print(list(e2f.keys()))

['dog', 'cat', 'walrus']

### Q.13 Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

**ANS** =

In [48]:
life = {
    "animals" : {
        "cats" : ["Henri", "Grumpy", "Lucy"],
        "octopi" : {},
        "emus" : {}
    },
    "plants" : {},
    "other" : {}
}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

### Q.14 Print the top-level keys of life.

**ANS** =

In [49]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

### Q.15  Print the keys for life['animals'].

**ANS** =

In [55]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

### Q.16 Print the values for life['animals']['cats']

**ANS** =

In [54]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']