# ASSIGNMENT NO 1 - SOLUTION

Q.1 In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* , 'hello' , 87.8 , - , / , + , 6

ANS = 

Operators are * , - , + , / . 

Values are 'hello', 87.8 , 6 .

Q.2 What is the difference between string and variable?

ANS = 

Variables are used to store different data types and String is the type of one of data type which includes minimum one letter, number or character enclosed in ' ' , " " or ''' '''.

Q.3 Describe three different data types.

ANS = 

(1) Integer - it contains atleast one numeric value or whole number. Eg - 1,52,28466,235,etc.

(2) Float - it represents decial numeric values. Eg - 0.254, 53.89, 4.46894, etc.

(3) Complex - it contains complex value no. Specified as (real no)+(imaginary no)j. Eg - (8+8j), (6+7j), (24.5+69j).

Q.4 What is an expression made up of? What do all expressions do?

ANS =

Expression is made up of different values, variables and operators with function. Expressions are need to be evaluated in a function. Expressions gives us evaluated value from the combination of values, variables and operators.
If we use print() as a function to call an expression, python interpreter evaluates it and gives output result

In [1]:
# example of expression
a=45  # this is a variable

print('output of expression is',a*2+36+-52)
# this is an expression called in function print()

output of expression is 74

Q.5 This assignment statements, like spam = 10. What is the difference between an expression and a statement?

ANS =

Expression is made up of different values, variables and operators with function. Expressions are need to be evaluated in a function. Evaluation of an expression provide result value.
Statement executes command and doesn't return anything.
All statements can be expressions but all expressions can not be statement.

Eg :- 
1) 45+32*4-146 - this is statement

2) print(45+32*4-146) - this is a expression

Q.6 After running the following code, what does the variable bacon contain?
bacon = 22
 , bacon + 1

ANS =

At 1st step, assigning a variable ( bacon = 22 ) , it stores value 22. 

At 2nd step, expression ( bacon + 1 ) add value 1 with 22 and gives output as 23. Here value of bacon remains same as 22. Here, code just performs a addition.

In [2]:
# ANS =
bacon = 22
bacon +1

23

Q.7 What should the values of the following two terms be?
'spam' + 'spamspam' &
'spam' * 3

ANS =

1) 'spam'+'spamspam' - it is addition of two string  values, which is acceptable and gives output as 'spamspamspam'.

2) 'spam'*3 - it is multiplication of string value, gives output as 'spamspamspam'

In [3]:
'spam'+'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

Q.8 Why is eggs a valid variable name while 100 is invalid?

ANS =

For naming a python variable, there are few rules as below :

1) Variable name must be start with alphabate or underscore only.

2) Variable name can not start with any number.

3) Variable name can contain alpha-numeric characters and underscore only.

4) Variable name is case sensitive. Eg - 'kdp', 'Kdp', 'KDP , all three are different variable names.

Thus, eggs is alphabate character while 100 is a number. That's why 100 is a invalid variable name.

Q.9 What three functions can be used to get the integer, floating-point number, or string version of a value

ANS =

For interger value - int() ,
for floating-poiny number - float() ,
for string value - str()

In [5]:
# examples

print(int(10.0))
print(float(25))
print(str(45))

10
25.0
45

Q.10 Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [6]:
# ANS =
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

Here, in concatenate operation, type of all values must be same. Since, 'i have eaten' & 'burritos' are string values & 99 is a integer value, operation will give error always.

To fix above error, integer value must be changed to string value, by adding single colon.

In [7]:
# Hence,
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

'I have eaten 99 burritos.', this is final answer.