# PROGRAMMING ASSIGNMENT NO 4 - SOLUTION

### 1. Write a Python Program to Find the Factorial of a Number?

In [1]:
# ANS =

def Factorial(num) :
    try :
        num1 = 1
        if num > 0 :
            for i in range(1,num+1):
                num1 = i * num1
        elif num < 0 :
            return "Factorial of negetive number is not possible."
        else :
            return "Factorial of 0 is 0."
        return num1
    except TypeError as error :
        return "Give input as a integer only.", error

In [2]:
Factorial(0)

'Factorial of 0 is 0.'

In [3]:
Factorial(-8)

'Factorial of negetive number is not possible.'

In [4]:
Factorial(8)

40320

In [5]:
Factorial(5)

120

In [6]:
Factorial('av')

('Give input as a integer only.',
 TypeError("'>' not supported between instances of 'str' and 'int'"))

### 2. Write a Python Program to Display the multiplication Table?

In [7]:
# ANS =

def Multiplication_table(num) :
    try :
        num1 = 1
        if num == 0 :
            return "Multiplication of 0 is not possible."
        else :
            print(f"Multiplication table of {num} is as below:")
            for i in range(1, 10 + 1):
                print(f"{num} x {i} = {num*i}")
    except TypeError as error :
        return "Please give input ineteger value only.", error

In [8]:
a = int(input("Enter number = "))
Multiplication_table(a)

Enter number = 5
Multiplication table of 5 is as below:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [9]:
a = int(input("Enter number = "))
Multiplication_table(a)

Enter number = -24
Multiplication table of -24 is as below:
-24 x 1 = -24
-24 x 2 = -48
-24 x 3 = -72
-24 x 4 = -96
-24 x 5 = -120
-24 x 6 = -144
-24 x 7 = -168
-24 x 8 = -192
-24 x 9 = -216
-24 x 10 = -240

### 3. Write a Python Program to Print the Fibonacci sequence?

In [10]:
# ANS =

def fibonacci(num) :
    try:
        if num == 0 :
            print([0])
        elif num == 1 :
            print([0, 1])
        elif num > 1:
            fiblist = [0]
            num1 = 0
            num2 = 1
            for i in range(1,num+1):
                fiblist.append(num2)
                num3 = num2
                num2 = num1 + num2
                num1 = num3
            return fiblist
    except TypeError as error :
        return "Please give input ineteger value only.", error

In [11]:
fibonacci(9)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [12]:
fibonacci(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

### 4. Write a Python Program to Check Armstrong Number?

In [13]:
# ANS =

def armstrong_num(num) :
    try :
        num1 = str(num)
        addition = 0
        for i in range(len(num1)) :
            num2 = int(num1[i])
            addition = addition + (num2)**(len(num1))
        if addition == num :
            return f"{num} is a Armstrong number."
        else :
            return f"{num} is not a Armstrong number."
    except TypeError as error :
        return "Please give input ineteger value only.", error

In [14]:
armstrong_num(6)

'6 is a Armstrong number.'

In [15]:
armstrong_num(153)

'153 is a Armstrong number.'

In [16]:
armstrong_num(370)

'370 is a Armstrong number.'

In [17]:
armstrong_num(406)

'406 is not a Armstrong number.'

### 5. Write a Python Program to Find Armstrong Number in an Interval?

In [18]:
# ANS =

def armstrng_num_list(num1, num2) :
    try :
        if num1 > num2 or num1 == num2 :
            return 'num1 should be greater than num2.'
        elif num1 < 0 or num2 < 0 :
            return 'Enter positive numbers only.'
        else :
            arm_list = []
            for i in range(num1, num2) :
                addition = 0
                num3 = str(i)
                for j in range(len(num3)) :
                    num4 = int(num3[j])
                    addition = addition + (num4)**(len(num3))
                if addition == i :
                    arm_list.append(i)
                else :
                    pass
            return print(arm_list)
    except Exception as error :
        return error

In [19]:
num1 = 1
num2 = 100000

armstrng_num_list(num1, num2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

### 6. Write a Python Program to Find the Sum of Natural Numbers?

In [20]:
# ANS =

def sum_nat_num(num1):
    try :
        if num1 < 0 :
            return 'Natural numbers include only positive integers.'
        else :
            add = 0
            for i in range(num1+1):
                add = add + i
            return f'The sum of natural numbers upto {num1} is {add}.'
    except Exception as error :
        return error

In [21]:
sum_nat_num(50)

'The sum of natural numbers upto 50 is 1275.'

In [22]:
sum_nat_num(-5)

'Natural numbers include only positive integers.'