# PROGRAMMING ASSIGNMENT NO 2 - SOLUTION

Q.1 Write a Python program to convert kilometers to miles?

In [1]:
# ANS

def km_to_mil(a):
    try:
        if type(eval(a))==int:
            a=int(a)
            if a == 0 :
                return "Zero kilometer is equals to zero miles."
            else :
                b = a*0.62137119
                return "{} kilometer is equals to {} miles.".format(a,b)
        elif type(eval(a))==float:
            a=float(a)
            b = a*0.62137119
            return "{} kilometer is equals to {} miles.".format(a,b)
    except Exception as c:
        return "Please enter numeric value only",c

In [2]:
d = input("Enter length of kilometer to converted = ")

km_to_mil(d)

Enter length of kilometer to converted = 254

'254 kilometer is equals to 157.82828225999998 miles.'

In [3]:
d = input("Enter length of kilometer to converted = ")

km_to_mil(d)

Enter length of kilometer to converted = 26.5

'26.5 kilometer is equals to 16.466336535 miles.'

In [4]:
d = input("Enter length of kilometer to converted = ")

km_to_mil(d)

Enter length of kilometer to converted = 0

'Zero kilometer is equals to zero miles.'

In [5]:
d = input("Enter length of kilometer to converted = ")

km_to_mil(d)

Enter length of kilometer to converted = hfuj

('Please enter numeric value only', NameError("name 'hfuj' is not defined"))

Q.2 Write a Python program to convert Celsius to Fahrenheit?

In [6]:
# ANS

def cel_to_farh(e):
    try :
        if type(eval(e))==int:
            e=int(e)
            f = e*1.8 + 32
            return "{}° celcius is equals to {}° Fahrenheit.".format(e,f)
        elif type(eval(e))==float:
            e=float(e)
            f = e*1.8 + 32
            return "{}° celcius is equals to {}° Fahrenheit.".format(e,f)
    except Exception as g :
        return "Please enter numeric value only."

In [7]:
h=input("Enter temperature in ° celcius = ",)

cel_to_farh(h)

Enter temperature in ° celcius = 254

'254° celcius is equals to 489.2° Fahrenheit.'

In [8]:
h=input("Enter temperature in ° celcius = ",)

cel_to_farh(h)

Enter temperature in ° celcius = 26.8

'26.8° celcius is equals to 80.24000000000001° Fahrenheit.'

In [9]:
h=input("Enter temperature in ° celcius = ",)

cel_to_farh(h)

Enter temperature in ° celcius = hgc

'Please enter numeric value only.'

Q.3 Write a Python program to display calendar?

In [10]:
# ANS

import calendar

def displaycalendar(i) :
    
    print(calendar.calendar(i))
    

j = int(input("Enter a year to display = "))

displaycalendar(j)

Enter a year to display = 2005
                                  2005

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

Q.4 Write a Python program to solve quadratic equation?

In [11]:
# ANS

def QEsol(k,l,m):
    import math
    import cmath
    # print("Your quadratic is {}x^2+{}x+{}=0".format(k,l,m))
    descriminant = (l*l)-(4*k*m)
    
    if descriminant == 0 :
        x1 = x2 = (-l/2*k)
        return "The roots are real & equal, i.e {}.".format(x1)
    elif descriminant > 0 :
        x1 = (-l + math.sqrt(descriminant)) / (2*k)
        x2 = (-l - math.sqrt(descriminant)) / (2*k)
        return "The roots are real & different, i.e {} & {}.".format(x1,x2)
    else :
        x1 = (-l + cmath.sqrt(descriminant)) / (2*k)
        x2 = (-l - cmath.sqrt(descriminant)) / (2*k)
        return "The roots are imaginary, i.e {} & {}.".format(x1,x2)

In [12]:
QEsol(1,-10,25)

'The roots are real & equal, i.e 5.0.'

In [13]:
QEsol(5,-6,-8)

'The roots are real & different, i.e 2.0 & -0.8.'

In [14]:
QEsol(1,2,2)

'The roots are imaginary, i.e (-1+1j) & (-1-1j).'

Q.5 Write a Python program to swap two variables without temp variable?

In [15]:
# ANS

def swap_var(num1,num2):
    print("Number before swap {} & {}.".format(num1,num2))
    num1=num1+num2
    num2=num1-num2
    num1=num1-num2
    return "Number after Swap {} & {}.".format(num1,num2)

In [16]:
swap_var(15,85)

Number before swap 15 & 85.

'Number after Swap 85 & 15.'