# PROGRAMMING ASSIGNMENT NO 23 - SOLUTION

### Question1
```
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True
```

In [1]:
# ANS =

def is_symmetrical(num):
    '''function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not'''
    try:
        num1 = str(num)
        for i in range(len(num1)):
            if num1[i] != num1[-i-1]:
                return False
        return True
    except Exception as error:
        return error

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

### Question 2
```
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20
```

In [7]:
# ANS =

def multiply_nums(string_of_nums):
    '''function that takes string of numbers separated by a comma and space as a input, return the product of the numbers'''
    try:
        str1 = string_of_nums.split(', ')
        multiplication = 1
        for i in str1:
            multiplication*= int(i)
        return multiplication                    
    except Exception as error:
        return error

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

### Question 3
```
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.
```

In [12]:
# ANS =

def square_digits(num):
    '''function that squares every digit of a number'''
    try:
        num1 = str(num)
        num2 = ''
        for i in num1:
            num2 += str(int(i)**2)
        return int(num2)        
    except Exception as error:
        return error

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

### Question 4
```
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
```

In [16]:
# ANS =

def setify(ip_list):
    '''function that sorts a list and removes all duplicate items from it'''
    try:
        ip_list = set(ip_list)
        ip_list = list(ip_list)
        return ip_list
    except Exception as error:
        return error

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Question 5
```
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.
```

In [21]:
# ANS =

def mean(num):
    '''function that returns the mean of all digits'''
    try:
        add = 0
        for i in str(num):
            add += int(i)
        return round(add / len(str(num)))
    except Exception as error:
        return error

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6

In [25]:
mean(35852)

5