# PROGRAMMING ASSIGNMENT NO 20 - SOLUTION

### Question1
```
Create a function that takes a list of strings and integers, and filters out the list so that 
it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []
```

In [1]:
# ANS =

def filter_list(list1):
    """function that takes a list of non-negative integers and strings and return a new list without the strings"""
    try:
        filtered = []
        for i in list1:
            if type(i) == int:
                filtered.append(i)
        return f"filter_list({list1}) ➞ {filtered}"
    except Exception as error:
        return error

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

"filter_list([1, 2, 3, 'a', 'b', 4]) ➞ [1, 2, 3, 4]"

In [3]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

"filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729']) ➞ [0, 1729]"

In [4]:
filter_list(["Nothing", "here"])

"filter_list(['Nothing', 'here']) ➞ []"

### Question2
```
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]
```

In [5]:
# ANS =

def add_indexes(ip_list):
    """function which returns the list but with each element's index in the list added to itself"""
    try:
        new_list = []
        for i in range(len(ip_list)):
            new_list.append( i + ip_list[i] )
        return f"add_indexes({ip_list}) ➞ {new_list}"
    except Exception as error:
        return error

In [6]:
add_indexes([0, 0, 0, 0, 0])

'add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]'

In [7]:
add_indexes([1, 2, 3, 4, 5])

'add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]'

In [8]:
add_indexes([5, 4, 3, 2, 1])

'add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]'

### Question3
```
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0
```

In [9]:
# ANS =

def cone_volume(height, radius):
    '''function that takes the height and radius of a cone as arguments and returns the volume of the cone'''
    try:
        volume = round(3.14159*height*(radius**2)/3, 2)
        return f"cone_volume({height}, {radius}) ➞ {volume}"        
    except Exception as error:
        return error

In [10]:
cone_volume(3, 2)

'cone_volume(3, 2) ➞ 12.57'

In [11]:
cone_volume(15, 6)

'cone_volume(15, 6) ➞ 565.49'

In [12]:
cone_volume(18, 0)

'cone_volume(18, 0) ➞ 0.0'

### Question4
```
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220
```

In [13]:
# ANS =

def triangle(num):
    """function that gives the number of dots with its corresponding triangle number of the sequence"""
    try:
        def addition(num):            
            if num == 0:
                return 0
            else:
                return num + addition(num-1)
        return f"triangle({num}) ➞ {addition(num)}"
    except Exception as error:
        return error

In [14]:
triangle(1)

'triangle(1) ➞ 1'

In [15]:
triangle(6)

'triangle(6) ➞ 21'

In [16]:
triangle(215)

'triangle(215) ➞ 23220'

### Question5
```
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7
```

In [17]:
# ANS =

def missing_num(num_list):
    '''function that takes a list of numbers between 1 to 10 and returns the missing number'''
    try:
        for i in range(10):
            if i+1 not in num_list:
                missing_num = i+1
        return f"missing_num({num_list}) ➞ {missing_num}"                
    except Exception as error:
        return error

In [18]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

'missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5'

In [19]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

'missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10'

In [20]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

'missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7'