# PROGRAMMING ASSIGNMENT NO 9 - SOLUTION

### 1. Write a Python program to check if the given number is a Disarium Number?

In [1]:
# ANS =

def disarium_num(num):
    """Python program to check if the given number is a Disarium Number"""
    try:
        sum = 0
        for i in range(len(str(num))):
            sum = sum + int((str(num))[i])**(i+1)
        if num == sum :
            return f"The given number {num} is a Disarium number."
        else:
            return f"The given number {num} is not a Disarium number."
    except Exception as error:
        return error

In [2]:
disarium_num(135)

'The given number 135 is a Disarium number.'

In [3]:
disarium_num(5)

'The given number 5 is a Disarium number.'

In [4]:
disarium_num(25)

'The given number 25 is not a Disarium number.'

In [5]:
disarium_num(48)

'The given number 48 is not a Disarium number.'

### 2. Write a Python program to print all disarium numbers between 1 to 100?

In [6]:
# ANS =

def dis_num_list(start_from, to_the_end):
    """Python program to print all disarium numbers between range."""
    try :
        dis_list = []
        for i in range(start_from, to_the_end):
            sum = 0
            for j in range(len(str(i))):
                sum = sum + int((str(i))[j])**(j+1)
            if i == sum:
                dis_list.append(sum)
            else:
                pass
        return f"The Disarium numbers between {start_from} to {to_the_end} are {dis_list}."
    except Exception as error:
        return error

In [7]:
dis_num_list(1,100)

'The Disarium numbers between 1 to 100 are [1, 2, 3, 4, 5, 6, 7, 8, 9, 89].'

In [8]:
dis_num_list(1,1000)

'The Disarium numbers between 1 to 1000 are [1, 2, 3, 4, 5, 6, 7, 8, 9, 89, 135, 175, 518, 598].'

In [9]:
dis_num_list(1,10000)

'The Disarium numbers between 1 to 10000 are [1, 2, 3, 4, 5, 6, 7, 8, 9, 89, 135, 175, 518, 598, 1306, 1676, 2427].'

### 3. Write a Python program to check if the given number is Happy Number?

In [10]:
# ANS =

def checkHappyNumber(num):
    """Python program to check if the given number is Happy Number or not."""
    try:
        num1 = str(num)
        num1_duplicate = num1
        tracknum = set()   
        while True:
            if num1 != '1' and str(num1) not in tracknum:
                tracknum.add(num1)
                sum = 0
                for i in range(len((num1))):
                    sum = sum + int(num1[i])**2
                num1 = str(sum)
            elif str(num1) in tracknum:
                print(f'{num1_duplicate} is not a Happy Number')
                break
            else:
                print(f'{num1_duplicate} is a Happy Number')
                break
    except Exception as error:
        return error

In [11]:
checkHappyNumber(5)

5 is not a Happy Number

In [12]:
checkHappyNumber(25)

25 is not a Happy Number

In [13]:
checkHappyNumber(19)

19 is a Happy Number

In [14]:
checkHappyNumber(38)

38 is not a Happy Number

### 4. Write a Python program to print all happy numbers between 1 and 100?

In [15]:
def Happy_num_list(start, end):
    """Python program to print all happy numbers between range."""
    try:
        happy_num_list = []
        for num in range(start, end+1):
            num1 = str(num)
            num2 = num
            tracknum = set()
            while True:
                if num1 != '1' and str(num1) not in tracknum:
                    tracknum.add(num1)
                    sum = 0
                    for i in range(len((num1))):
                        sum = sum + int(num1[i])**2
                    num1 = str(sum)
                elif str(num1) in tracknum:
                    break
                else:
                    happy_num_list.append(num2)
                    break
        return f"Happy numbers between {start} to {end} is {happy_num_list}."
    except Exception as error:
        return error

In [16]:
Happy_num_list(1,100)

'Happy numbers between 1 to 100 is [1, 7, 10, 13, 19, 23, 28, 31, 32, 44, 49, 68, 70, 79, 82, 86, 91, 94, 97, 100].'

In [17]:
Happy_num_list(1,1000)

'Happy numbers between 1 to 1000 is [1, 7, 10, 13, 19, 23, 28, 31, 32, 44, 49, 68, 70, 79, 82, 86, 91, 94, 97, 100, 103, 109, 129, 130, 133, 139, 167, 176, 188, 190, 192, 193, 203, 208, 219, 226, 230, 236, 239, 262, 263, 280, 291, 293, 301, 302, 310, 313, 319, 320, 326, 329, 331, 338, 356, 362, 365, 367, 368, 376, 379, 383, 386, 391, 392, 397, 404, 409, 440, 446, 464, 469, 478, 487, 490, 496, 536, 556, 563, 565, 566, 608, 617, 622, 623, 632, 635, 637, 638, 644, 649, 653, 655, 656, 665, 671, 673, 680, 683, 694, 700, 709, 716, 736, 739, 748, 761, 763, 784, 790, 793, 802, 806, 818, 820, 833, 836, 847, 860, 863, 874, 881, 888, 899, 901, 904, 907, 910, 912, 913, 921, 923, 931, 932, 937, 940, 946, 964, 970, 973, 989, 998, 1000].'

In [18]:
Happy_num_list(40,48)

'Happy numbers between 40 to 48 is [44].'

### 5. Write a Python program to determine whether the given number is a Harshad Number?

In [19]:
# ANS =

def harshad_number(num):
    """Python program to determine whether the given number is a Harshad Number or not"""
    sum = 0
    for i in range(len(str(num))):
        sum = sum + int((str(num))[i])
    if num % sum == 0:
        return f"{num} is a Harshad number."
    else:
        return f"{num} is not a Harshad number."

In [20]:
harshad_number(5)

'5 is a Harshad number.'

In [21]:
harshad_number(15)

'15 is not a Harshad number.'

In [22]:
harshad_number(20)

'20 is a Harshad number.'

### 6. Write a Python program to print all pronic numbers between 1 and 100?

In [23]:
# ANS =

def Pronic_num(start, end):
    """Python program to print all pronic numbers between range."""
    pronic_list = []
    for i in range(start, end):
        number = i*(i+1)
        pronic_list.append(number)
    return print(pronic_list)

In [24]:
Pronic_num(1,100)

[2, 6, 12, 20, 30, 42, 56, 72, 90, 110, 132, 156, 182, 210, 240, 272, 306, 342, 380, 420, 462, 506, 552, 600, 650, 702, 756, 812, 870, 930, 992, 1056, 1122, 1190, 1260, 1332, 1406, 1482, 1560, 1640, 1722, 1806, 1892, 1980, 2070, 2162, 2256, 2352, 2450, 2550, 2652, 2756, 2862, 2970, 3080, 3192, 3306, 3422, 3540, 3660, 3782, 3906, 4032, 4160, 4290, 4422, 4556, 4692, 4830, 4970, 5112, 5256, 5402, 5550, 5700, 5852, 6006, 6162, 6320, 6480, 6642, 6806, 6972, 7140, 7310, 7482, 7656, 7832, 8010, 8190, 8372, 8556, 8742, 8930, 9120, 9312, 9506, 9702, 9900]

In [25]:
Pronic_num(10,25)

[110, 132, 156, 182, 210, 240, 272, 306, 342, 380, 420, 462, 506, 552, 600]

In [26]:
Pronic_num(48,87)

[2352, 2450, 2550, 2652, 2756, 2862, 2970, 3080, 3192, 3306, 3422, 3540, 3660, 3782, 3906, 4032, 4160, 4290, 4422, 4556, 4692, 4830, 4970, 5112, 5256, 5402, 5550, 5700, 5852, 6006, 6162, 6320, 6480, 6642, 6806, 6972, 7140, 7310, 7482]